extend cputemp /jffs/bin/snmp-ext-cpu-temp.sh
extend wltemp /jffs/bin/snmp-ext-wl-temp.sh
extend tcpcnt /jffs/bin/snmp-ext-connection-cnt.sh tcp
extend udpcnt /jffs/bin/snmp-ext-connection-cnt.sh udp
extend wifinoisedbm /jffs/bin/snmp-ext-wifi-noise-dbm.sh <offset_dBm>
extend wifichannel /jffs/bin/snmp-ext-wifi-channel.sh
extend ping /jffs/bin/snmp-ext-ping.sh <ping-server>
extend vlanall /jffs/bin/snmp-ext-he-con-cnt.sh <vlan-gateway> <local-gateway>
extend vlanest /jffs/bin/snmp-ext-he-con-cnt.sh <vlan-gateway> <local-gateway> ESTABLISHED
extend dhcplease /jffs/bin/snmp-ext-dhcp-clients.sh
extend wifiassoc /jffs/bin/snmp-ext-wifi-assoc.sh